<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber-Report" parallel="classes" thread-count="1" >
    <test name="Juno-Alerting-AutomationReport">                                             
       <packages>
              <package name="continuum.cucumber.testRunner" />              
       </packages>
	</test>      
</suite>

